@keyframes slideIn {
  0% {
    transform: translate(110%);
    opacity: 0;
  }
  100% {
    transform: translate(0%);
    opacity: 1;
  }
}
body {
  font-family: "Poppins", serif;
  background-color: rgb(43, 54, 43);
}

h1 {
  text-align: center;
  font-size: 3em;
  color: rgb(252, 242, 220);
  text-shadow: 4px 4px 15px black;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin-inline: auto;
}

.BtnQuizz {
  background-color: rgb(253, 184, 58);
  color: rgb(43, 54, 43);
  border-radius: 2em;
  padding: 0.3em 0.8em;
  text-decoration: none;
  box-shadow: 3px 3px 15px rgb(73, 73, 73);
  transition: 0.3s;
}
.BtnQuizz:hover {
  color: rgb(43, 54, 43);
  background-color: rgb(252, 242, 220);
}

.Quizz {
  padding: 3em;
  background-color: rgb(252, 242, 220);
  border-radius: 2em;
  position: relative;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.Quizz-headers {
  background-color: rgb(43, 54, 43);
  padding: 0.3em 1.5em;
  border-radius: 0.8em;
  font-size: 1.5em;
  color: rgb(252, 242, 220);
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 530px) {
  .Quizz-headers {
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.Quizz-headers p {
  margin: 0 0 0.8em 0;
}
@media screen and (min-width: 530px) {
  .Quizz-headers p {
    margin: 0;
  }
}
.Quizz-headers-score {
  grid-row: 2/3;
}
.Quizz-headers-question {
  grid-row: 1/2;
}
.Quizz-headers-submit {
  font-size: 0.7em;
  grid-row: 1/3;
}
.Quizz-finished {
  display: none;
}
.Quizz-finished-card-image {
  padding: 3em;
}
@media screen and (min-width: 800px) {
  .Quizz-finished-card {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .Quizz-finished-card-image {
    padding: 0.6em;
  }
}
.Quizz-question {
  flex-grow: 1;
  position: absolute;
  top: 0;
  transform: translate(100%);
  transition: 0.3s;
  width: 100%;
  min-height: 450px;
  display: flex;
  box-sizing: border-box;
}
.Quizz-question.active {
  position: relative;
  transform: translate(0);
  animation: slideIn 0.6s ease-in-out forwards;
}
.Quizz-question.done {
  transform: translate(0);
  animation: slideIn 0.6s ease-in-out forwards;
  position: absolute;
}
.Quizz-question-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Quizz-question-error {
  display: none;
}
.Quizz-question-error-text {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}
.Quizz-question-success {
  display: none;
}
.Quizz-question-success-text {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}
.Quizz-question-label {
  text-align: center;
}
.Quizz-question-answers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5em;
}
.Quizz-question-answers-answer {
  background-color: rgb(253, 184, 58);
  border: solid 5px rgb(253, 184, 58);
  border-radius: 2em;
  padding: 1.5em;
  box-sizing: border-box;
  transition: 0.3s;
}
.Quizz-question-answers-answer:hover {
  cursor: pointer;
  background-color: rgb(43, 54, 43);
  border: solid 5px rgb(43, 54, 43);
  color: rgb(252, 242, 220);
}
.Quizz-question-answers-answer.active {
  border: solid 5px rgb(253, 184, 58);
  background-color: rgb(43, 54, 43);
  color: rgb(252, 242, 220);
}
.Quizz-question-answers-answer-text {
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */